/*初始化 常用类选择器*/
html,
body,
p,
input,
ul,
li {
  padding: 0;
  margin: 0;
  Font-size: 10px;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.center {
  text-align: center;
}
.overflow {
  overflow: hidden;
}
.f-bold {
  font-weight: bold;
}
.right {
  float: right;
}
.left {
  float: left;
}
.head {
  background-color: #333;
  font-size: 1.4rem;
  padding: 1.2rem 5%;
}
.head a {
  font-family: "黑体";
  color: #B0B0B0;
}
.head .listleft {
  width: 50%;
}
.head li {
  float: left;
  border-right: 1px solid #424242;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}
.head .listright {
  width: 50%;
  float: left;
}
.head li {
  float: left;
  border-right: 1px solid #424242;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.head ul .delborder {
  border: none;
}
.head ul .marginleft {
  margin-left: 65%;
}
.main {
  width: 92%;
  margin: 0 auto;
  font-size: 1.6rem;
}
.main .maintop {
  height: 7.5rem;
}
.main .maintop .topleft {
  width: 20%;
  margin-top: 2.5rem;
}
.main .maintop .topmiddle {
  width: 60%;
  margin-top: 2.5rem;
}
.main .maintop .topmiddle li {
  float: left;
  margin-right: 1.2rem;
}
.main .maintop .topmiddle a {
  font-family: "黑体";
  font-size: 1.8rem;
  color: #333;
  line-height: 5.5rem;
}
.main .maintop .topright {
  margin-top: 3rem;
}
.main .maintop input {
  height: 3.8rem;
  width: 14rem;
  float: left;
}
.main .maintop img {
  float: left;
}
.main .mainmiddle {
  margin-top: 1.5rem;
}
.main .mainmiddle a {
  font-size: 1.6rem;
  color: white;
  font-family: "黑体";
}
.main .mainmiddle .middleleft {
  width: 20%;
  background-color: #4C4C4C;
  padding: 0.92rem 0 0.92rem 0;
}
.main .mainmiddle .middleleft li {
  padding: 0.95rem 1.6rem 0.95rem 2.2rem;
  overflow: hidden;
}
.main .mainmiddle .middleleft span {
  font-size: 1.8rem;
  color: #ccc;
  font-weight: bold;
  float: right;
}
.main .mainmiddle .middleright {
  width: 80%;
}
.main .mainbottom {
  margin-top: 1rem;
}
.main .mainbottom .bottomleft {
  width: 20%;
  background-color: #5F5750;
}
