body {
  padding-bottom: 3rem;
}
html,
body,
p,
input,
ul,
li {
  padding: 0;
  margin: 0;
  Font-size: 10px;
}
.head {
  height: 2rem;
  width: 100%;
}
.maintop {
  text-align: center;
  border-bottom: 1px solid #B0B0B0;
}
.maintop .shopimg {
  width: 65%;
}
.mainmiddle {
  width: 100%;
}
.mainmiddle .words1 {
  font-size: 1.8rem;
  color: black;
  margin-top: 1rem;
}
.mainmiddle .words2 {
  font-size: 1.5rem;
  color: red;
  margin-bottom: 0.5rem;
}
.mainmiddle .words3 {
  font-size: 0.5rem;
  color: red;
}
.mainmiddle .words4 {
  font-size: 0.5rem;
  color: #B0B0B0;
}
.mainmiddle .words5 {
  font-size: 0.5rem;
  color: red;
  background: #FF6700;
  margin-bottom: 1rem;
}
.mainmiddle .buttonColor {
  position: relative;
  overflow: hidden;
}
.mainmiddle .buttonColor span {
  display: block;
  float: left;
  text-align: center;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  background: #fff;
  width: 4rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: #B0B0B0;
  border: 1px solid #B0B0B0;
}
.mainmiddle .buttonSize span {
  display: block;
  text-align: center;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  background: #fff;
  width: 5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: #B0B0B0;
  border: 1px solid #B0B0B0;
}
.foot {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 3rem;
  background: white;
  font-size: 2rem;
  border-top: 1px solid #cccccc;
}
.foot .buy {
  width: 70%;
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 1.4rem;
  color: #fff;
  margin: 0.2rem 15%;
  background: #F96D39;
  text-align: center;
}
